<!-- vendedor.component.html -->
<section class="container mt-4">
  <h2>Agregar Producto</h2>
  <form (submit)="agregarProducto()">
    <div class="mb-3">
      <label for="nombreProducto" class="form-label">Nombre del Producto</label>
      <input type="text" class="form-control" id="nombreProducto" [(ngModel)]="nuevoProducto.nombre" required>
    </div>
    <div class="mb-3">
      <label for="preciosProducto" class="form-label">Precios</label>
      <div *ngFor="let precio of nuevoProducto.precios; let i = index" class="row mb-2">
        <div class="col-4">
          <input type="number" class="form-control" [(ngModel)]="precio.precio" required>
        </div>
        <div class="col-8">
          <select class="form-select" [(ngModel)]="precio.unidad" required>
            <option value="libra">Libra</option>
            <option value="kilo">Kilo</option>
            <option value="arroba">Arroba</option>
            <option value="bulto">Bulto</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)= "agregarPrecio()">Agregar Precio</button>
    </div>
    <div class="mb-3">
      <label for="imagenProducto" class="form-label">Imagen del Producto</label>
      <input type="file" class="form-control" id="imagenProducto" (change)="cargarImagen($event)" accept="image/*" required>
      <img [src]="imagenPreview" *ngIf="imagenPreview" class="img-thumbnail mt-2" alt="Vista previa de la imagen">
    </div>
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
  </form>
</section>
