<!-- comprador.component.html -->
<div class="container mt-4">
    <h2>Página del Comprador</h2>
    <div *ngFor="let producto of productos" class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="producto.imagen" class="img-fluid rounded-start" alt="Imagen del Producto">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let precio of producto.precios">
                Precio: {{ precio.precio }} - {{ precio.unidad}}
              </li>
            </ul>
            <p>Nombre del Producto: {{ producto.nombre }}</p> <!-- Nuevo código -->
            <button class="btn btn-primary mt-2" (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  